{% extends 'dashboard_base.html' %}

{% block content %}
<div class="container mt-5">
    <!-- Wishlist Details -->
    <div class="d-flex justify-content-between align-items-center">
        <h2>{{ wishlist.title }}</h2>
        {% if wishlist.owner == user %}
            <a href="{% url 'wishlists:edit_wishlist' wishlist.id %}" class="btn btn-primary">Edit Wishlist</a>
        {% endif %}
    </div>
    <p>{{ wishlist.description }}</p>
    <p><strong>Visibility:</strong> {{ wishlist.get_visibility_display }}</p>
    <p><strong>Group:</strong> {{ wishlist.group }}</p>
    <p><strong>Created At:</strong> {{ wishlist.created_at }}</p>

    <!-- Category Badge with Color -->
    {% if wishlist.category %}
        <span class="badge" style="background-color: {{ wishlist.get_color_code }}">
            {{ wishlist.category|capfirst }}
        </span>
    {% endif %}

    <!-- Wishlist Items -->
    <h3 class="mt-4">Items in Wishlist</h3>
    <div class="row">
        {% for item in items %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card h-100 d-flex flex-column">
                    {% if item.image %}
                        <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                    {% endif %}
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-truncate" title="{{ item.name }}">{{ item.name }}</h5>
                        <p class="card-text text-truncate" title="{{ item.description }}">{{ item.description }}</p>
                        <p><strong>Price Range:</strong> {{ item.get_price_range_display }}</p>
                        <p><strong>URL:</strong> <a href="{{ item.url }}" target="_blank" class="text-truncate d-inline-block" style="max-width: 100%;" title="{{ item.url }}">{{ item.url }}</a></p>
                        <p><strong>Bought:</strong> {{ item.bought|yesno:"Yes,No" }}</p>
                        <div class="mt-auto d-flex justify-content-between">
                            {% if wishlist.owner == user %}
                                <a href="{% url 'wishlists:edit_item' item.id %}" class="btn btn-secondary btn-sm">Edit</a>
                                <form action="{% url 'wishlists:delete_item' pk=item.id %}" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No items have been added to this wishlist yet.</p>
        {% endfor %}
    </div>

    <!-- Add Item and Share Wishlist Buttons (Visible only for the wishlist owner) -->
    {% if wishlist.user == user %}
        <a href="{% url 'wishlists:share_wishlist' wishlist.id %}" class="btn btn-primary mt-4">Share Wishlist</a>
        <a href="{% url 'wishlists:add_item' wishlist_id=wishlist.id %}" class="btn btn-primary mt-4">Add Item</a>
    {% endif %}
    
    
</div>
{% endblock %}
